<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>signup</title>
</head>
<body>
    <h1>signup</h1><hr>
    <form th:action="@{/api/user}" method="POST">
        email : <input type="text" name="email"> <br>
        password : <input type="password" name="password"> <br>
        <input type="radio" name="auth" value="ROLE_ADMIN,ROLE_USER"> ADMIN
        <input type="radio" name="auth" value="ROLE_USER"> USER <br>
        <button type="submit">join</button>
    </form>
    <br>
    <a href="/login"><- go to login</a>
</body>
</html>